@keyframes aparecer{
  from {
    transform: translateY(15px);
    opacity: 0;
  }
  to {
    transform: translateY(3px);
    opacity: 1;
  }
}

@keyframes moverYColor {
  0% {
    transform: translateY(0);
    background-position: 0% 50%;
  }
  50% {
    transform: translateY(-5px);
    background-position: 100% 50%;
  }
  100% {
    transform: translateY(0);
    background-position: 0% 50%;
  }
}
