//Extend

.flexbasico{
   display: flex;
   align-items: center;
}

.cursor{
    text-transform: uppercase;
    cursor: pointer;
}

.paddingdisplay{
    padding: 0rem;
    display: block;
}

.mediciones{
    width: 17rem;
    height: 22rem; 
}

.margin{
    margin-left: 2%;
    margin-top: 2%;
}

.font{
     font-weight: bolder;
    font-size: x-large;
}
