//Variables 

$background-colorbotones:rgba(231, 238, 240, 0.87);
$background-colorindex: rgb(11, 44, 83);
$background-colorletras: black;
$background-colorfooterhijos: rgba(127, 158, 216, 0.589);
$background-colorfooterhijosmedio: rgba(61, 97, 163, 0.767);
$background-colorfooterhijosmediomas: rgba(23, 54, 110, 0.767);
$background-colortextshadow: rgba(249, 250, 252, 0.938);
$background-colorprecio: rgb(35, 89, 136);
$background-colorbidones: rgba(158, 165, 179, 0.521);
$background-coloroscuro: rgba(7, 7, 68, 0.973);
$background-colorgrisazulado: rgba(121, 139, 175, 0.521);

