@media (max-width: 360px) {
  .index-parrafoheaderhistoria {
    font-size: 14px !important;
    padding: 5px !important;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .index-parrafoheaderhistoria {
    font-size: 15px !important;
    padding: 8px !important;
  }
}
@media (min-width: 767px) {
  .historiadeontario {
    font-size: 14px !important;
    padding: 5px !important;
  }
}
@media (min-widht: 767px) {
  .preguntas-header {
    font-size: 14px !important;
    padding: 5px !important;
  }
}
@media (max-width: 576px) {
  .logotipo, .l-logotipo, .logotipohistoria, .logotipopreguntas {
    width: 5rem;
    height: 5rem;
    margin: 1rem auto;
  }
  .contenedor-inferior-header{
    margin-left: 0;
    max-width: 90%;
    text-align: center;
  }

  .contenedor-inferior-headerdispensers{
    margin-left: 0;
    max-width: 90%;
    text-align: center;
    top: 10%;
  }
  
  .todaslasimagenesdelosproductos-container, .todaslasimagenesdelosdispensers-container {
    flex-direction: column;
    align-items: center;
  }
  .footercontainer-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
@media (max-width: 576px) {
  .preguntas-header {
    padding: 120px 15px 40px;
    background-size: cover; /* o contain si preferís que no se recorte */
    background-position: top center;
  }

  .logotipopreguntas {
    width: 160px;/* más chico en móviles si es muy grande */
  }
}

@media (max-width: 768px) {
  .footercontainer-griddispensers {
    grid-template-columns: 1fr; /* una sola columna en pantallas chicas */
  }

  .footercontainer-primerhijodispensers,
  .footercontainer-primerhijocontacto,
  .footercontainer-segundohijocontacto,
  .footercontainer-tercerhijocontacto {
    grid-area: auto;
    text-align: center;
    padding: 0.5rem 0;
  }

  iframe {
    width: 100% !important;
    height: auto;
  }
}